/* .wrapper {
  max-width: 400px;
  background: green;
  height: 40px;
  text-align: right;
}

.marquee {
  background: red;
  white-space: nowrap;
  -webkit-animation: alternate-reverse 4s linear;
} */
